/* custom css goes here */
/**
    Styling for Default.aspx goes here
*/
body { 
    padding-bottom: 70px; 

}
.gameImagesDiv{
    height:auto;
    width:auto;
}

#fifa17Link{
    background-image:url(../Assets/Images/fifa17.jpg);
    background-size:contain;
        height:390px;
    width:328px;
}

#callOfDutyLink{
    background-image:url(../Assets/Images/callofduty.jpg);
    background-size:contain;
        height:390px;
    width:328px;
}

#counterStrikeLink{
    background-image:url(../Assets/Images/counterstrike.jpg);
    background-size:contain;

}

#battleFieldLink{
    background-image:url(../Assets/Images/battlefield.jpg);
    background-size:contain;

}

.gameImageLinks{
    height:390px;
    width:328px;
    display:inline-block;
    margin-top:3px;
    transition-property:box-shadow;
    transition-duration:0.3s;
    transition-delay:0.01s;
}

.gameImageLinks:hover{
 -webkit-box-shadow: 0px 31px 70px 3px rgba(117,145,214,1);
-moz-box-shadow: 0px 31px 70px 3px rgba(117,145,214,1);
box-shadow: 0px 31px 70px 3px rgba(117,145,214,1);
}
/**
    Styling for fifa17Page.aspx here
*/

/*body{
   background-repeat:no-repeat;
   background-image:url(../Assets/Images/fifa17Background.jpg);
   background-size:auto;
   background-position:top;
}*/
